/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 Jul, 2019, 12:26:18 PM
    Author     : VIKAS
*/

body{
			margin: 0;
			padding: 0;
		}
		.main-container{
			display: flex;
		}
		.main-container div{

			height: 100vh;
			padding: 1rem;
		}
		.sidebar-left{
			flex: 1;
			margin-right: 1rem;
			background-color: #1c1c1c;
			color: #fff;
		}
		.sidebar-right{
			flex: 6;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 2rem;
			justify-items: center;
			align-items: start;
		}

		.sidebar-right a{
			text-decoration: none;
			color: #293462;
			font-size: 20px;
			font-weight: bold;
                        
		}
                
                .sidebar-right a img{
			transition-property: transform;
			transition-duration: 2s;
                        
		}

		.sidebar-right a img:hover{
			transform: rotateY(360deg);
		}


		.sidebar-right a div h3{
			font-size: 20px;
			font-weight: bold;
			text-align: center;
			width: 9rem;
			margin-left: 0;
			padding-left: 0;
			position: relative;
			left: -12px;
		}

		.sidebar-right div{
			/*box-shadow: 0 0 3px 2px #eee;*/
			width: 100px;
			height: 100px;

		}
                
                .sidebar-left{
			display: flex;
			flex-direction: column;
			align-items: center;
			color: white;
			position: relative;
		}

		.sidebar-logo{
			width: 150px;
			height: 150px;
			border-radius: 60%;
			margin-bottom: 2rem;
		}

		.sidebar-left h4{
			margin-top: 22rem;
		}

		.sidebar-left div{
			margin-top: 2rem;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-gap: 1.4rem;
			grid-auto-rows: 40px;
			height: 40px;
		}

		.social-icons, .social-icons:hover{
  color: #fff;
  text-decoration: none;
  font-size: 22px;

}

.fa-twitter:hover{
  color: #1da1f2;
}

.fa-facebook:hover{
  color: #3c5a9a;
}

.fa-instagram:hover{
  color: #e32159;
}

.fa-envelope:hover{
  color: #f00;
}
		